<div class="container col-md-8">
    <form>
      <div class="row">
        <div class="col-md-6">
            Leave Starting From
        </div>
        <div class="col-md-6">
            Leave Ending On
        </div>
      </div>
      <div class="row">
          <div class="col-md-6">
              <div class="row">
                <div class="col-md-6">
                  <input type="date" class="form-control">
                </div>
                <div class="col-md-6">
                    <select id="inputState" class="form-control">
                        <option selected>Full Day</option>
                        <option>Half Day</option>
                        <option>Short Leaves</option>
                    </select>
                </div>
              </div>
          </div>
          <div class="col-md-6">
              <div class="row">
                  <div class="col-md-6">
                    <input type="date" class="form-control">
                  </div>
                  <div class="col-md-6">
                      <select id="inputState" class="form-control">
                        <option selected>Full Day</option>
                        <option>Half Day</option>
                        <option>Short Leaves</option>
                      </select>
                  </div>
                </div>
          </div>
        </div>

        <div class="form-group">
          <label for="formGroupExampleInput">Reason for leave</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        <div class="form-group">
          <label for="formGroupExampleInput2">Another label</label>
          <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Another input">
        </div>
      </form>
</div>

